#toggler {
  position: absolute;
  z-index: 9999;
  border: 1px solid white;
  font-size: .5em;
  top: 20px;
  left:20px;
}

#toggler legend {
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
}

#toggler label {
  font-size: 1.5em;
  cursor: pointer;
}

#toggler input {
  cursor: pointer;
}


.slide-toggler {
  display: block;
  margin-bottom:20px;
  margin-left: auto;
  margin-right: auto;
  padding:8px;
  background-color: #F0F3F4;
  border: 0px solid white;
  cursor: pointer;
}

.slide-toggler:hover {
  background-color:  #F0F3F4;
}
